<div class="container-fluid" *ngIf="forecast$ | async; let forecast">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">5-day forecast for {{forecast.city}}</h3>

		</div>
		<ul class="list-group">
			<!---->
			<li class="list-group-item" *ngFor="let entry of forecast.list">
				{{entry.date | date: 'EEEE, MMMM d'}}:
				{{entry.conditions}}
				- Min: {{entry.temperatures.min}}
				- Max: {{entry.temperatures.max}}

				<img class="icon" src="https://www.angulartraining.com/images/weather/{{entry.icon}}">
      </li>
		</ul>
	</div>
	<button class="btn btn-success" tabindex="0" id="mainPageBtn" (click)="navigateToOverview()">&lt; Back to main page</button>
</div>