<div class="well flex" *ngIf="conditions$ | async; let conditions">
	<div>
		<h3>{{conditions.city}} ({{conditions.zipCode}})</h3>
		<h4>Current conditions: {{conditions.currentConditions}}</h4>
		<h4>Temperatures today:</h4>
		<p>
			Current {{conditions.temperatures.current}}
			- Max {{conditions.temperatures.max}}
			- Min {{conditions.temperatures.min}}
		</p>
		<p>
			<a [routerLink]="['forecast', conditions.zipCode]">Show 5-day forecast for {{conditions.city}}</a>
		</p>
	</div>
	<div>
		<span class="close" (click)="removeLocation()">×</span>
		<img src="https://www.angulartraining.com/images/weather/{{conditions.icon}}">
  </div>
	</div>